# 2.4 Arithmetic Operations

## Key Concepts

In [ ]:
a = 1 + 2 # a = 3
expenses = 10000 + 2000 # expenses = 12000

In [ ]:
b = 5 - 2   # b = 3
profit = 1200 - 800   # profit = 400

In [ ]:
c = 4 * 3 # c = 12
interest = 1000 * 0.05  # interest = 50

In [ ]:
d = 10 / 2  # d = 5
average_cost = 500 / 5  # average_cost = 100

In [ ]:
e = 2 ** 3  # e = 8
compound_interest = 1000 * (1.05 ** 2) # compound_interest = 1102.5

## Follow-Along Activity

In [ ]:
# Revenue from two product lines
revenue_product1 = 50000
revenue_product2 = 75000

# Total revenue calculation
total_revenue = revenue_product1 + revenue_product2
print(total_revenue)

125000

In [ ]:
# Revenue and expenses
revenue = 100000
expenses = 60000

# Net income calculation
net_income = revenue - expenses
print("Net Income:", net_income)

Net Income: 40000

In [ ]:
# Principal amount and interest rate
principal = 10000  # (£)
interest_rate = 0.05  # 5% annual interest rate

# Interest calculation
interest = principal * interest_rate
print("Interest:", interest)

Interest: 500.0

In [ ]:
# Net income and revenue
net_income = 40000
revenue = 100000

# Profit margin calculation
profit_margin = (net_income / revenue) * 100
print("Profit Margin (%):", profit_margin)

Profit Margin (%): 40.0

In [ ]:
# Compound interest calculation over 2 years
principal = 1000
rate = 0.05  # 5%
periods = 2

# Future value calculation
future_value = principal * (1 + rate) ** periods
print("Future Value:", future_value)

Future Value: 1102.5

## Your Project

In [ ]:
# Define input values for the analysis
sales_q1 = 30000             # Sales in Quarter 1 (£)
sales_q2 = 45000             # Sales in Quarter 2 (£)
total_expenses = 45000       # Total expenses for the period (£)
tax_rate = 0.20              # Tax rate (20%) represented as a decimal

# 1: Calculate total sales from both quarters
total_sales = sales_q1 + sales_q2
print("Total Sales:", total_sales)  # Expected output: 75000

# 2: Calculate gross income by subtracting expenses from total sales
gross_income = total_sales - total_expenses
print("Gross Income:", gross_income)  # Expected output: 30000

# 3: Calculate tax amount by multiplying gross income by tax rate
tax_amount = gross_income * tax_rate
print("Tax Amount:", tax_amount)  # Expected output: 6000

# 4: Calculate profit margin (gross income ÷ total sales × 100)
profit_margin = (gross_income / total_sales) * 100
print("Profit Margin (%):", profit_margin)  # Expected output: 40.0

# 5: Estimate projected sales after 2 years of 5% annual growth using exponentiation
annual_growth_rate = 0.05    # 5% annual growth rate
years = 2                    # Compounded over 2 years

projected_sales = total_sales * (1 + annual_growth_rate) ** years
print("Projected Sales (After 2 Years):", projected_sales)

Total Sales: 75000
Gross Income: 30000
Tax Amount: 6000.0
Profit Margin (%): 40.0
Projected Sales (After 2 Years): 82687.5