# Key Concepts

In [ ]:
if profit > 10000:
   print("Bonus awarded")

In [ ]:
if profit > 10000:
   print("Bonus awarded")
else:
   print("No bonus")

In [ ]:
if profit > 10000:
   print("High bonus")
elif profit > 5000:
   print("Moderate bonus")
else:
   print("No bonus")

In [ ]:
if revenue > 10000:
   if expenses < 5000:
       print("Excellent performance")

In [ ]:
if profit > 0:
   print("Profitable")
   print("Keep it up")

In [ ]:
if profit > 0
   print("Profitable")
   print("Keep it up")

In [ ]:
profit = 7000


if profit > 10000:
   print("High profit")
elif profit > 5000:
   print("Moderate profit")
else:
   print("Low profit")

In [ ]:
profit = 7000


if profit > 10000:
   print("High profit")
    print("Profit is higher than expected.")
elif profit > 5000:
 print("Moderate profit")
 print("Profit is moderate.")
else:
   print("Low profit")

## Follow-Along Activity

In [1]:
expense = 250

if expense < 100:
   category = "Low"
elif 100 <= expense <= 500:
   category = "Medium"
else:
   category = "High"

print(category)

Medium

In [3]:
budget = 1000  # Monthly budget in pounds
expense = 900  # Example expense amount

if expense > budget:
    category = "Above Budget"
else:
    category = "Within Budget"

print("The expense category is:", category)

The expense category is: Within Budget

In [4]:
transaction_amount = 750  # Define transaction amount

if transaction_amount < 100:
    category = "Low"
elif 100 <= transaction_amount <= 500:
    category = "Medium"
elif 500 < transaction_amount <= 1000:
    category = "High"
else:
    category = "Very High"

print("The transaction category is:", category)

The transaction category is: High

# Your Project

In [5]:
# Step 1: Get the income value from the user
income_input = input("Enter the client's annual income (£): ")
income = float(income_input)  # Convert the input to a float for handling decimals


# Step 2: Apply conditional statements for categorisation
if income < 25000:
  category = "Low Income"
elif income < 60000:
  category = "Middle Income"
else:
  category = "High Income"


# Step 3: Display the result
print(f"Category: {category}")

Enter the client's annual income (£): 20000
Category: Low Income