## Key Concepts

In [ ]:
x = 10 / 0

ZeroDivisionError: division by zero

In [ ]:
amount = int("1O00")

ValueError: invalid literal for int() with base 10: '1O00'

In [ ]:
net_profit = 5000
total_assets = 0
return_on_assets = net_profit / total_assets

ZeroDivisionError: division by zero

In [ ]:
try:
    revenue = int("abc")
except ValueError:
    print("Invalid input: expected a number.")

Invalid input: expected a number.

## Follow-Along Activity

In [ ]:
# Debt-to-equity calculation using user input (no error handling)
equity_input = input("Enter equity (£): ")
debt_input   = input("Enter debt   (£): ")

equity = float(equity_input)
debt   = float(debt_input)

ratio = debt / equity
print(f"Debt-to-Equity Ratio: {ratio:.2f}")

Enter equity (£): 0
Enter debt   (£): 20000

ZeroDivisionError: float division by zero

In [ ]:
# Debt-to-equity calculation using user input (no error handling)
equity_input = input("Enter equity (£): ")
debt_input   = input("Enter debt   (£): ")

equity = float(equity_input)
debt   = float(debt_input)

ratio = debt / equity
print(f"Debt-to-Equity Ratio: {ratio:.2f}")

Enter equity (£): a
Enter debt   (£): %

ValueError: could not convert string to float: 'a'

In [ ]:
try:
   equity = float(equity_input)
   debt   = float(debt_input)
   ratio  = debt / equity
   print(f"Debt-to-Equity Ratio: {ratio:.2f}")

except ZeroDivisionError:
   print("Error: equity is zero – ratio cannot be calculated.")

except ValueError:
   print("Error: please enter numbers only.")

Enter equity (£): a
Enter debt   (£): %
Error: please enter numbers only.

## Your Project

In [ ]:
# Return on Equity (ROE) calculator with basic error handling

# Prompt the user to enter Net Profit and Shareholders' Equity
net_profit_input          = input("Enter Net Profit (£): ")
shareholders_equity_input = input("Enter Shareholders' Equity (£): ")

try:
    # Convert input values from strings to floats
    # May raise ValueError if the input is not a number
    net_profit          = float(net_profit_input)
    shareholders_equity = float(shareholders_equity_input)

    # Calculate ROE
    # May raise ZeroDivisionError if shareholders' equity is zero
    roe = net_profit / shareholders_equity

    # Display the calculated ROE, formatted to two decimal places
    print(f"Return on Equity: {roe:.2f}")

# Handle the case where shareholders' equity is zero to prevent division by zero
except ZeroDivisionError:
    print("Error: shareholders' equity is zero – ROE cannot be calculated.")

# Handle the case where input values are not valid numbers
except ValueError:
    print("Error: please enter numbers only.")

Enter Net Profit (£): 1000
Enter Shareholders' Equity (£): 0
Error: shareholders' equity is zero – ROE cannot be calculated.

# Extra

 There are other error types besides ValueError and ZeroDivisionError that are less common when using Python for accounting and finance.


## TypeError – Incompatible Data Types

**Definition**  
Raised when an operation is applied to objects of inappropriate type.

**Example:**
```python
quantity = 100          # int
price    = "12.75"      # str – data imported as text
trade_value = quantity * price      # TypeError
```

**Explanation and Fix**  
This error occurs because the code tries to multiply an integer by a string. Python cannot perform arithmetic between these types.  
**Fix:** Convert the string to a number before performing the calculation:

```python
quantity = 100
price = float("12.75")
trade_value = quantity * price
```

---

## IndexError – Index Out of Range

**Definition**  
Occurs when you try to access a list or array position that does not exist.

**Example:**
```python
cash_flows = [1_200, 1_350, 1_500]        # three months
for i in range(4):                        # 0,1,2,3
    print(cash_flows[i])                  # IndexError on i = 3
```

**Explanation and Fix**  
This error occurs because the loop tries to access `cash_flows[3]`, but the list only has indices 0 to 2.  
**Fix:** Use `len(cash_flows)` in the range or iterate directly over the list:

```python
for i in range(len(cash_flows)):
    print(cash_flows[i])
```

Or:

```python
for cash_flow in cash_flows:
    print(cash_flow)
```

---

## KeyError – Missing Dictionary or Column Key

**Definition**  
Raised when the requested key is not present in a dictionary-like object.

**Example:**
```python
import pandas as pd
df = pd.read_csv("trial_balance.csv")
total_assets = df["TotalAssets"]          # KeyError: 'TotalAssets'
```

**Explanation and Fix**  
This error occurs because `"TotalAssets"` is not a valid column name in the DataFrame.  
**Fix:** Check column names with `df.columns` or use `df.get("TotalAssets")`:

```python
print(df.columns)
total_assets = df.get("TotalAssets")
```

---

## FileNotFoundError – Missing File or Path

**Definition**  
Happens when code attempts to open a file that the operating system cannot find.

**Example:**
```python
with open("outputs/2025-04-25-ledger.csv") as f:   # FileNotFoundError
    ledger = f.read()
```

**Explanation and Fix**  
This error occurs because the file path is incorrect or the file does not exist.  
**Fix:** Verify the file path or use `try-except` to handle the error:

```python
try:
    with open("outputs/2025-04-25-ledger.csv") as f:
        ledger = f.read()
except FileNotFoundError:
    print("File not found. Please check the file path.")
```

---

## OverflowError – Number Too Large for Python’s Float

**Definition**  
Raised when a calculation produces a floating-point number beyond the platform’s range.

**Example:**
```python
import math
factor = math.exp(1_000)       # OverflowError on most systems
```

**Explanation and Fix**  
This error occurs because `math.exp(1_000)` produces a number too large for Python’s floating-point type.  
**Fix:** Scale inputs, work in logarithms, or use the `decimal` module:

```python
from decimal import Decimal, getcontext
getcontext().prec = 100
factor = Decimal(1).exp()
```

---

## ImportError (and ModuleNotFoundError) – Cannot Load a Library

**Definition**  
Python cannot locate the module or package requested by an `import` statement.

**Example:**
```python
import pandas_datareader as pdr    # ModuleNotFoundError
```

**Explanation and Fix**  
This error occurs because the package is not installed.  
**Fix:** Install the missing package with:

```bash
pip install pandas-datareader
```

Or include a `requirements.txt` file for environment setup.

---

## AttributeError – Object Lacks the Requested Attribute

**Definition**  
Raised when you attempt to access a method or property that an object does not possess.

**Example:**
```python
import pandas as pd
df = pd.DataFrame({"price": [10, 12, 11]})
median = df.median()          # OK
median = df.median.mean()     # AttributeError: 'float' object has no attribute 'mean'
```

**Explanation and Fix**  
This error occurs because `df.median()` returns a float, which does not have a `.mean()` method.  
**Fix:** Confirm the object type with `type()` or `dir()`:

```python
print(type(median))
```

---