## Follow-Along Activity

In [ ]:
import pandas as pd

# Sample financial data with missing values
data = {
    'Transaction ID': [1, 2, 3, 4, 5],
    'Client Name': ['Alice', 'Bob', None, 'David', 'Eve'],
    'Amount': [2000, None, 1500, 2500, None],
    'Category': ['Revenue', 'Expense', 'Revenue', None, 'Expense']
}

df = pd.DataFrame(data)
print(df)

   Transaction ID Client Name  Amount Category
0               1       Alice  2000.0  Revenue
1               2         Bob     NaN  Expense
2               3        None  1500.0  Revenue
3               4       David  2500.0     None
4               5         Eve     NaN  Expense

In [ ]:
# Identify missing values using .isna()
print(df.isna())

   Transaction ID  Client Name  Amount  Category
0           False        False   False     False
1           False        False    True     False
2           False         True   False     False
3           False        False   False      True
4           False        False    True     False

In [ ]:
# Identify missing values using sum
print(df.isna().sum())

Transaction ID    0
Client Name       1
Amount            2
Category          1
dtype: int64

In [ ]:
# Drop rows with missing values
df_dropped = df.dropna()

print("After Dropping Missing Values:\n", df_dropped)

After Dropping Missing Values:
    Transaction ID Client Name  Amount Category
0               1       Alice  2000.0  Revenue

In [ ]:
# Calculate mean for 'Amount' column, excluding missing values
mean_value = df['Amount'].mean()

# Impute 'Amount' with the mean value without using inplace
df['Amount'] = df['Amount'].fillna(mean_value)

print("DataFrame after Imputing 'Amount' with Mean:\n", df)

DataFrame after Imputing 'Amount' with Mean:
    Transaction ID Client Name  Amount Category
0               1       Alice  2000.0  Revenue
1               2         Bob  2000.0  Expense
2               3        None  1500.0  Revenue
3               4       David  2500.0     None
4               5         Eve  2000.0  Expense

## Your Project

**Dataset**

In [ ]:
data = {
    'Transaction ID': [101, 102, 103, 104, 105],
    'Client Name': ['Alice Ltd', 'Bob Corp', 'Cat Com', 'David & Co', 'Eve LLC'],
    'Invoice Amount': [5000, None, 3000, 7000, None],
    'Transaction Type': ['Sales', 'Purchase', 'Sales', 'Sales', 'Purchase'],
    'Payment Status': ['Paid', 'Unpaid', 'Paid', 'Paid', 'Unpaid'],
}

**Example code:**

In [ ]:
import pandas as pd

# Load the Dataset into a Pandas DataFrame and display it
data = {
    'Transaction ID': [101, 102, 103, 104, 105],
    'Client Name': ['Alice Ltd', 'Bob Corp', 'Cat Com', 'David & Co', 'Eve LLC'],
    'Invoice Amount': [5000, None, 3000, 7000, None],
    'Transaction Type': ['Sales', 'Purchase', 'Sales', 'Sales', 'Purchase'],
    'Payment Status': ['Paid', 'Unpaid', 'Paid', 'Paid', 'Unpaid'],
}

# Create DataFrame
df = pd.DataFrame(data)
print("Initial Dataset:\n", df)

# Identify Missing Values
print("\n Missing Values Per Column:\n", df.isna())

# Count missing values per column
print("\n Summary of Missing Values:\n", df.isna().sum())

# Handle Missing Values
# Replace missing values in the 'Invoice Amount' column with the mean of the column
df['Invoice Amount'] = df['Invoice Amount'].fillna(df['Invoice Amount'].mean())

print("\n DataFrame After Handling Missing Values:\n", df)

Initial Dataset:
    Transaction ID Client Name  Invoice Amount Transaction Type Payment Status
0             101   Alice Ltd          5000.0            Sales           Paid
1             102    Bob Corp             NaN         Purchase         Unpaid
2             103     Cat Com          3000.0            Sales           Paid
3             104  David & Co          7000.0            Sales           Paid
4             105     Eve LLC             NaN         Purchase         Unpaid

 Missing Values Per Column:
    Transaction ID  Client Name  Invoice Amount  Transaction Type  \
0           False        False           False             False
1           False        False            True             False
2           False        False           False             False
3           False        False           False             False
4           False        False            True             False

   Payment Status
0           False
1           False
2           False
3           False
4           False

 Summary of Missing Values:
 Transaction ID      0
Client Name         0
Invoice Amount      2
Transaction Type    0
Payment Status      0
dtype: int64
DataFrame After Handling Missing Values:
    Transaction ID Client Name  Invoice Amount Transaction Type Payment Status
0             101   Alice Ltd          5000.0            Sales           Paid
1             102    Bob Corp          5000.0         Purchase         Unpaid
2             103     Cat Com          3000.0            Sales           Paid
3             104  David & Co          7000.0            Sales           Paid
4             105     Eve LLC          5000.0         Purchase         Unpaid

# Extra: Other Techniques for Data Cleaning in Pandas

## 1. Handling Missing Data
- `df.isnull()`, `df.notnull()` to detect missing values.
- `df.dropna()` to remove rows or columns with missing values.
- `df.fillna(value)` to fill missing values with a specific value (e.g., 0, mean, median, or forward/backward fill).
- `df.interpolate()` to estimate missing values through interpolation.

## 2. Removing Duplicates
- `df.duplicated()` to identify duplicate rows.
- `df.drop_duplicates()` to remove duplicate rows.

## 3. Data Type Conversion
- `df.astype()` to convert columns to appropriate data types (e.g., strings to integers, floats to datetime).

## 4. String Cleaning
- `df['column'].str.strip()` to remove leading/trailing spaces.
- `df['column'].str.lower()`, `df['column'].str.upper()` to standardise text case.
- `df['column'].str.replace('old', 'new')` to replace values or clean special characters.

## 5. Handling Outliers
- Identify outliers using statistical methods (e.g., IQR, Z-score).
- Remove or cap outliers as necessary.

## 6. Renaming Columns
- `df.rename(columns={'old_name': 'new_name'})` to rename columns.
- `df.columns = df.columns.str.strip()` to clean column names by removing spaces.

## 7. Filtering and Subsetting Data
- Use conditions (e.g., `df[df['column'] > 0]`) to select valid rows.
- Use `query()` method for cleaner syntax in filtering.

## 8. Mapping and Replacing Values
- `df['column'].map()` to apply a mapping dictionary or function.
- `df['column'].replace({'old': 'new'})` to replace specific values.

## 9. Normalising and Scaling Data
- Standardise numerical data using libraries like `scikit-learn` (e.g., `StandardScaler`, `MinMaxScaler`) when necessary for analysis or machine learning.

## 10. Date/Time Cleaning
- `pd.to_datetime(df['date_column'])` to ensure proper datetime format.
- Extract parts of dates (year, month, day) using the `.dt` accessor.

## 11. Combining or Splitting Columns
- `df['new_col'] = df['col1'] + df['col2']` for combining columns.
- `df['col'].str.split('delimiter', expand=True)` for splitting columns.